{{!-- footer start --}}
<footer id="footer">
    <div class="container">
        <div class="inner">
            <div class="copyright">
                <h4 class="cp">Centre NTIC&nbsp;&copy;&nbsp;2022 tout droits reserves</h4>
            </div>
            <div class="infos">
                <h4 class="adress">Adresse: <span>N XXX, rue XXX Ville XXX&nbsp;&nbsp;</span></h4>
                <h4 class="tel">|&nbsp;&nbsp;Telephone:<span>+212XXXXXXXXXX</span> </h4>
            </div>
        </div>
    </div>
</footer>
{{!-- footer end --}}