{{!-- nav bar start --}}
<nav id="nav">
    <div class="container">
        <div class="inner">
            <div class="Title">
                <a href="/" class="title">Centre NTIC</a>
            </div>
            <div class="menu-button">
                <button class="menu-btn">Menu</button>
            </div>
            <div class="links-list">
                <a href="/">Accueil</a>
                <a href="/contact">Contact</a>
                <a href="/espace-etudiant">Etudiant</a>
                <a href="/espace-enseignant">Enseignant</a>
                <a href="/liste-actualites">Actualites</a>
                <a class="drop-menu">Recherche</a>
                    {{!-- recherche menu --}}
                <div class="rech-menu-container">
                    <div class="rech-menu">
                        <a href="/liste-enseignants">enseignants</a>
                        <a href="/liste-modules">modules</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{{!-- nav bar end --}}