<div class="side-nav-fix">
    <div class="hide-btn">
        <div class="x-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="nav-content" style="margin-top: 110px;">
        <a href="/dashboard">Accueil</a>
        <a class="etd-link">Etudiants</a>
        <div class="sub-etudiants">
            <div class="sub-content">
                <a href="/etudiants" class="etud-link">Liste des etudiants</a>
            </div>
        </div>
        <a href="/demandes">Demandes</a>
        <a href="/enseignants">Enseignants</a>
        <a href="/filieres">Filieres</a>
        <a class="mdl-link">Modules</a>
        <div class="sub-modules">
            <div class="sub-content">
                <a href="/modules">Liste des modules</a>
                <a href="/associations">Associations modules / filieres</a>
            </div>
        </div>
        <a href="/messages">Messages</a>
        <a href="/actualites">Actualites</a>
    </div>
    <div class="log-out">
        <a href="/logout-adm">Se deconnecter</a>
    </div>
</div>