{{!-- nav bar start --}}
{{>nav-bar}}
{{!-- nav bar end --}}

{{!-- apropos start --}}
<div id="apropos">
    <div class="container">
        <div class="inner">
            <div class="presentation-content">
                <h2>Presentation</h2>
                <p>
                    Nous sommes un centre de formation professionnelle specialisée dans les domaines des 
                    NTIC (nouvelles technologies d'informations et de communications). On forme chaque année
                    plusieurs techniciens spécialisés dans différent domaines technologiques.
                </p>
                <br>
                <h2>Des formations de qualité qui vont vous permettre une insertion professionnelle directe</h3>
                <p>
                    Nos formations sont structurer par des enseignants specialisés dans leurs domaines, qui ont passé
                    plusieurs années de leurs carriéres dans le milieu professionnel, et ca leur donne une grande 
                    perspective sur le besoin du marché du travail.
                </p>
                <br>
                <img src="../images/pres-img.jpg" alt="presentation">
                <br>
                <h2>Filières différentes et riches</h2>
                <p>
                    Toutes nos filières se pointent sur des domaines qui sont très demandés dans le marché de travail, notre objectif
                    c'est de vous accompagner durant ces deux années afin d'être capable de faire des projets intégrés en utilisant 
                    différent outils.
                    La pratique est le point fort de notre centre, nos lauréats pratiquent regulièrement leurs connaissances au sein
                    du centre avec l'aide des enseignants qui les encadrent durant les séances du TP.
                </p>
                <span>Vous pouvez consulter la liste des modules par filière en cliquant <a href="/liste-modules">ici</a> </span>
            </div>
        </div>
    </div>    
</div>
{{!-- apropos end --}}

{{!-- footer start --}}
{{>footer}}
{{!-- footer end --}}